- provide :title, 'Projects'

.row-fluid
  .span9.box-gray
    .page-header
      %h1 Projects
    .projects
      = render @projects
    = will_paginate @projects
  .span3.box.sidebar
    %h1 搜索
    %p
      = search_form
  .span3.box.sidebar
    %h1 新建项目
    %p.center= link_to '新建', new_project_path, class: 'btn btn-primary'
