div.projects {
  min-height: 300px;
}
div.project {
  background: white;
  border-bottom: 1px solid #DDD;
  margin: 0;
  padding-left: 20px;

  .title {
    h2 {
      font-size: 1.5em;
      display: inline;
    }
    span {
      margin-left: 6px;
    }
  }


  .info {
    padding-left: 10px;
    p {
      margin-bottom: 0;
    }

    em {
      color: #bbb;
      font-style: normal;

      a {
        margin-right: 4px;
      }
    }
  }
}

div.create-sprint {
  text-align: right;
  padding: 10px 20px 10px 0;
  border-top: 1px solid #ddd;
}

div.current-sprint {
  background: white;
  h2 {
    text-align: center;
    border: 1px solid #ddd;
    border-top: none;
    background: -webkit-linear-gradient(90deg, #ddd, white);
  }
  padding: 0;

  .sprint {
    .nav-tabs{
      margin-bottom: 0;
      li:first-child {
        a {
          border-left: none;
        }
      }
      a {
        border-radius: 0;
        margin: 0;
        border-top: none;
      }
    }
  }

  .tab-pane {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 8px 0 8px 5px;
        border-bottom: 1px solid #ddd;

        &:hover {
          background: #C0DEED;
        }

        &:last-child {
          border-bottom: none;
        }

        a {
          float: right;
          position: relative;
          top: -1px;
          margin-right: 5px;
        }
      }

    }
  }

}

.project-title {
  h1 {
    float: left;
    margin-right: 500px;
  }
}

.new-work {
  border-top: 1px solid #ddd;
  padding: 15px 10px 7px 10px;
  .name-field {
    width: 12em;
  }
  .des-field {
    width: 30em;
  }

  .btn {
    position: relative;
    top: -4px;
  }
}
