.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'Jobs', root_path, id: 'logo'
      %nav
        %ul.nav.pull-right
          %li= link_to '主页', root_path
          %li= link_to '注册', signup_path
          %li= link_to '登录', signin_path
